* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #000; /* Black background */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

.login-container {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    width: 100%;
}

.login-field {
    width: 600px;
}

h1 {
    margin-bottom: 30px;
    font-size: 3.5rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center
}

p {
    margin-bottom: 20px;
    font-size: 1.5rem;
    text-align: center
}

form {
    display: flex;
    flex-direction: column;
}

input {
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    background-color: #333;
    color: #ffffff;
}


button {
    padding: 12px;
    margin-bottom: 10px;
    width: 100%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.login-btn {
    background-color: #4caf50; /* Green for login */
    color: #fff;
}

.create-btn {
    background-color: #008cba; /* Blue for create account */
    color: #fff;
}

button:hover {
    opacity: 0.8;
}

.div-form{
    float:absolute;
    margin-left: 200px;
    background-color:antiquewhite;
    width: 67%;
    margin: 20px auto; 
    padding: 20px; 
    border: 1px solid #ccc;
    border-radius: 5px; 
}

.table {
    margin: 20px auto;
    width: 70%; 
    border-collapse: collapse;
    border: 1px solid #000; 
}

.table th, .table td {
    border: 1px solid black;
    padding: 8px;
    background-color:antiquewhite;
    color: black;
}

#form-entry input[type="text"], #form-entry select {
    width: calc(100% - 10px);
    padding: 8px; 
    margin-bottom: 10px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
}

.table button {
    padding: 6px 12px; 
    margin-right: 5px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 

}
.table button:nth-child(odd) {
    background-color: #007bff; 
    color: #fff; 
}

.table button:nth-child(even) {
    background-color: #ff0000; 
    color: #fff; 
}
.table button:hover {
    opacity: 0.8; 
}