<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>company home page</title>
    <link rel="stylesheet" href="/static/style.css" type="text/css">
</head>
<body>
    <div class="company">
    {% if name %}
    <h1>Welcome {{ name }}!</h1>
    {% else %}
    <h1>Welcome!</h1>
    {% endif %}
    <br>
    <br>
    <h2>Roles Posted</h2>
    <div class="table-wrapper">
        <table class="fl-table">
            <thead>
                <tr>
                    <th>Role ID</th>
                    <th>Position</th>
                    <th>Type</th>
                    <th>Location</th>
                    <th>Salary</th>
                    <th>Date Posted</th>
                </tr>
            </thead>
            <tbody>
                {% for post in data_posts %}
                <tr>
                    <td>{{ post.role_id }}</td>
                    <td>{{ post.role_position }}</td>
                    <td>{{ post.role_type }}</td>
                    <td>{{ post.role_location }}</td>
                    <td>{{ post.role_salary }}</td>
                    <td>{{ post.date_posted }}</td>
                    <td>
                        <form method="POST" action="/company/{{id}}/delete_role/{{ post.role_id }}">
                            <button class="red-btn" type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            <tbody>
        </table>
    </div>
    <br>
    <br>
    <h2>Events Posted</h2>
    <div class="table-wrapper"> 
        <table class="fl-table">
            <thead>
                <tr>
                    <th>Event ID</th>
                    <th>Company Name</th>
                    <th>Event Title</th>
                    <th>Attendees</th>
                    <th>Event Date</th>
                    <th>Type</th>
                </tr>
            </thead>
            <tbody>
                {% for event in data_events %}
                <tr>
                    <td>{{ event.event_id }}</td>
                    <td>{{ event.user_name}}</td>
                    <td>{{ event.event_notes }}</td>
                    <td>{{ event.attendees }}</td>
                    <td>{{ event.event_date }}</td>
                    <td>
                        {% if event.info_session %}
                            Info Session
                        {% elif event.coffee_chat %}
                            Coffee Chat
                        {% else %}
                            Other Event
                        {% endif %}
                    </td>
                    <td>
                        <form method="POST" action="{{ url_for('delete_event', id=id,event_id=event.event_id) }}">
                            <button class="red-btn" type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            <tbody>
        </table>
    </div>
    <br>
    <br>

    <h2>Organizers</h2>
    <div class="table-wrapper"> 
        <table class="fl-table">
            <thead>
                <tr>
                    <th>Event ID</th>
                    <th>Org Name</th>
                    <th>Org email</th>
                    <th>Org role</th>
                    <th>Org linkedin</th>

                </tr>
            </thead>
            <tbody>
                {% for org in data_orgs %}
                <tr>
                    <td>{{ org.event_id }}</td>
                    <td>{{ org.org_name }}</td>
                    <td>{{ org.org_email }}</td>
                    <td>{{ org.org_role }}</td>
                    <td>{{ org.org_linkedin }}</td>
                </tr>
                {% endfor %}
            <tbody>
        </table>
    </div>
    <br>
    <br>
    </div>
        <form action="{{ url_for('create_post', id=id) }}" method="GET">
            <button type="submit" class="btn blue-button">
                <span class="btn-icon">+</span> Create Post
            </button>
        </form>
        
        <form action="{{ url_for('create_event', id=id) }}" method="GET">
            <button type="submit" class="btn blue-button">
                <span class="btn-icon">+</span> Create Event
            </button>
        </form>
        
        <form action="/logout" method="GET">
            <button type="submit" class="btn green-btn">Logout</button>
        </form>
    </div>
</div>
</body>
</html>

