<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>company home page</title>
    <link rel="stylesheet" href="/static/style.css" type="text/css">
</head>
<body>
    <div class="company">
        <h1>events</h1>
        <div>
          {% for n in data_events %}
          <div>{{n}}</div>
          {% endfor %}
        </div>

        <h1>posts</h1>

        <div>
          {% for n in data_posts %}
          <div>{{n}}</div>
          {% endfor %}
        </div>

        <div id ="table-div">
            <div class="div-form">
                <form id="new-entry">
                    <label for="filter">Filter: </label>
                    <select id="filter" title="Filter">
                        <option value="all">All</option>
                        <option value="events">Events</option>
                        <option value="roles">Roles</option>
                    </select>
                    <br>
                </form>
            </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Role ID</th>
                    <th>Position</th>
                    <th>Date Posted</th>
                    <th>Description</th>
                    <th>Location</th>
                    <th>Salary</th>
                </tr>
            </thead>
            <tbody class="table-body">
                <tr>
                    </td>
                        <button onclick="updateRow(this)">Update</button>
                        <button onclick="deleteRow(this)">Delete</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button onclick="updateRow(this)">Update</button>
                        <button onclick="deleteRow(this)">Delete</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button onclick="updateRow(this)">Update</button>
                        <button onclick="deleteRow(this)">Delete</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button onclick="updateRow(this)">Update</button>
                        <button onclick="deleteRow(this)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

        <a href="{{ url_for('create_post', id=id) }}" class="btn btn-primary btn-large btn-block">Create Post</a>
        <a href="{{ url_for('create_event', id=id) }}" class="btn btn-primary btn-large btn-block">Create Event</a>

        <a href="/logout" class="btn btn-secondary btn-large btn-block" style="text-align: center;">Logout</a>
    </div>

</body>
</html>

