

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Role</title>
    <link rel="stylesheet" href="/static/style.css" type="text/css">
</head>
<body>
    <div>
        <h1>Create Role Post</h1>
        {% if error %}
            <p style="color: red;">{{ error }}</p>
        {% endif %}
        <form action="/company/{{ id }}/post" method="POST">
            <div class="control-group">
                <input type="text" class="post-position" placeholder="Position" name="position" required>
                <label class="login-field-icon fui-user" for="create-position"></label>
            </div>
            <div class="control-group">
                <input type="text" class="post-description" placeholder="Description" name="description">
                <label class="login-field-icon fui-user" for="create-description"></label>
            </div>
            <div class="control-group">
                <input type="text" class="post-location" placeholder="Location" name="location">
                <label class="login-field-icon fui-user" for="create-location"></label>
            </div>
            <div class="control-group">
                <input type="integer" class="post-salary" placeholder="Salary" name="salary">
                <label class="login-field-icon fui-user" for="create-salary"></label>
            </div>
            <div class="control-group">
                <label class="button">
                    <input type="radio" name="role_type" value="Internship" required>
                    <span>+ Internship</span>
                </label>
                <label class="button">
                    <input type="radio" name="role_type" value="Fulltime" required>
                    <span>+ Fulltime</span>
                </label>
            </div>
            <br>
            <br>
            <input type="submit" value="Create Post" class="btn green-btn btn-primary btn-large btn-block">
        </form>
        <a href="{{ url_for('company_home', id=id) }}" class="btn btn-primary btn-large btn-block">Back</a>

    </div>

</body>
</html>

