<!-- templates/create_account.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Account</title>
    <link rel="stylesheet" href="/static/style.css" type="text/css">
</head>
<body>
    <div>
        <p>Which type of account do you wish to register?</p>
        {% if error %}
            <p style="color: red;">{{ error }}</p>
        {% endif %}
        <form action="/create-account" method="POST">
            <div class="control-group">
                
                <button type="button" class="blue-button" onclick="window.location.href='/create-account-company'">Company</button>
                <button type="button" class="blue-button" onclick="window.location.href='/create-account-applicant'">Applicant</button>
                <br>
                <br>
                <br>
            </div>
        </form>
    </div>
    <div>
        <form action="/logout" method="GET">
            <button type="submit" class="btn green-btn">Back</button>
        </form>
    </div>
</body>
</html>

