


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Events</title>
    <link rel="stylesheet" href="/static/style.css" type="text/css">
</head>
<body>
    <div class="roles">

        <h1>All events - select you want to attend</h1>
        {% if error %}
        <p style="color: red;">{{ error }}</p>
        {% endif %}

        <div>
            {% for n in data_events %}
            <form action="/applicant/{{ id }}/events" method="POST">
                <button type="submit" name="event" value="{{ n.event_id }}" class="role-button">
                    {{ n.user_name }} - {{ n.event_date }} - {{ n.event_notes }}
                </button>
            </form>
            {% endfor %}
        </div>

        <a href="{{ url_for('applicant_home', id=id) }}" class="btn btn-primary btn-large btn-block">Back</a>

        <a href="/logout" class="btn btn-secondary btn-large btn-block" style="text-align: center;">Logout</a>
    </div>

</body>
</html>
